Unable to decode host key (ssh-rsa2-256)

Hello @ronf!

I've recently run into the issue that I'm not able to SSH into a device using `asyncssh`.

These are the `asyncssh` debug logs:

```
DEBUG:asyncio:Using selector: KqueueSelector
INFO:asyncssh:Opening SSH connection to [HIDDEN], port 22
INFO:asyncssh:[conn=0] Connected to SSH server at [HIDDEN], port 22
INFO:asyncssh:[conn=0]   Local address: [HIDDEN], port[HIDDEN]
INFO:asyncssh:[conn=0]   Peer address: [HIDDEN] port 22
DEBUG:asyncssh:[conn=0] Sending version SSH-2.0-AsyncSSH_2.8.1
DEBUG:asyncssh:[conn=0] Received version SSH-[HIDDEN]
DEBUG:asyncssh:[conn=0] Requesting key exchange
DEBUG:asyncssh:[conn=0]   Key exchange algs: curve25519-sha256,curve25519-sha256@libssh.org,curve448-sha512,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,ecdh-sha2-1.3.132.0.10,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha256,diffie-hellman-group15-sha512,diffie-hellman-group16-sha512,diffie-hellman-group17-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256@ssh.com,diffie-hellman-group14-sha1,rsa2048-sha256,ext-info-c
DEBUG:asyncssh:[conn=0]   Host key algs: rsa-sha2-256,rsa-sha2-512,ssh-rsa-sha224@ssh.com,ssh-rsa-sha256@ssh.com,ssh-rsa-sha384@ssh.com,ssh-rsa-sha512@ssh.com,ssh-rsa
DEBUG:asyncssh:[conn=0]   Encryption algs: chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
DEBUG:asyncssh:[conn=0]   MAC algs: hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha1-etm@openssh.com,hmac-sha2-256,hmac-sha2-512,hmac-sha1,hmac-sha256-2@ssh.com,hmac-sha224@ssh.com,hmac-sha256@ssh.com,hmac-sha384@ssh.com,hmac-sha512@ssh.com
DEBUG:asyncssh:[conn=0]   Compression algs: zlib@openssh.com,none
DEBUG:asyncssh:[conn=0] Received key exchange request
DEBUG:asyncssh:[conn=0]   Key exchange algs: ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group14-sha1
DEBUG:asyncssh:[conn=0]   Host key algs: ssh-dss,rsa-sha2-512,rsa-sha2-256,ssh-rsa
DEBUG:asyncssh:[conn=0]   Client to server:
DEBUG:asyncssh:[conn=0]     Encryption algs: aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com
DEBUG:asyncssh:[conn=0]     MAC algs: hmac-sha2-512,hmac-sha2-256,hmac-sha1
DEBUG:asyncssh:[conn=0]     Compression algs: none
DEBUG:asyncssh:[conn=0]   Server to client:
DEBUG:asyncssh:[conn=0]     Encryption algs: aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com
DEBUG:asyncssh:[conn=0]     MAC algs: hmac-sha2-512,hmac-sha2-256,hmac-sha1
DEBUG:asyncssh:[conn=0]     Compression algs: none
DEBUG:asyncssh:[conn=0] Beginning key exchange
DEBUG:asyncssh:[conn=0]   Key exchange alg: ecdh-sha2-nistp521
INFO:asyncssh:[conn=0] Sending disconnect: Unable to decode host key (9)
INFO:asyncssh:[conn=0] Connection failure: Unable to decode host key
INFO:asyncssh:[conn=0] Aborting connection
...
    raise HostKeyNotVerifiable(str(exc)) from None
asyncssh.misc.HostKeyNotVerifiable: Unable to decode host key
```

When I pass `server_host_key_algs='ssh-rsa'` to `connect()` - then I am able to connect.

From what I've debugged it seems to boil down to `def _validate_host_key` and in particular:

```python
def decode_ssh_public_key(data: bytes) -> SSHKey:
    """Decode a packetized SSH public key"""

    try:
        packet = SSHPacket(data)
        alg = packet.get_string()
        handler = _public_key_alg_map.get(alg)

        if handler:
            key_params = handler.decode_ssh_public(packet)
            packet.check_end()

            key = handler.make_public(key_params)
            key.algorithm = alg
            return key
        else:
            raise KeyImportError('Unknown key algorithm: %s' %
                                 alg.decode('ascii', errors='replace'))
    except PacketDecodeError:
        raise KeyImportError('Invalid public key') from None
```

My `_public_key_alg_map` contains:
```
(Pdb++) pp _public_key_alg_map
{
    b'ecdsa-sha2-1.3.132.0.10': <class 'asyncssh.ecdsa._ECKey'>,
    b'ecdsa-sha2-nistp256': <class 'asyncssh.ecdsa._ECKey'>,
    b'ecdsa-sha2-nistp384': <class 'asyncssh.ecdsa._ECKey'>,
    b'ecdsa-sha2-nistp521': <class 'asyncssh.ecdsa._ECKey'>,
    b'sk-ecdsa-sha2-nistp256@openssh.com': <class 'asyncssh.sk_ecdsa._SKECDSAKey'>,
    b'sk-ssh-ed25519@openssh.com': <class 'asyncssh.sk_eddsa._SKEd25519Key'>,
    b'ssh-dss': <class 'asyncssh.dsa._DSAKey'>,
    b'ssh-ed25519': <class 'asyncssh.eddsa._Ed25519Key'>,
    b'ssh-ed448': <class 'asyncssh.eddsa._Ed448Key'>,
    b'ssh-rsa': <class 'asyncssh.rsa.RSAKey'>
}
```

Algorithm being passed is `rsa-sha2-256`, which is not on the list above.

From what I see here:
https://asyncssh.readthedocs.io/en/latest/api.html#public-key-certificate-algorithms

This list `_public_key_alg_map` should be much bigger?

Regards!
Adam Pawluczuk

This nasty patch seems to resolve the issue:

```diff
diff --git a/public_key.py b/public_key.py
index 82b77806..99901ee4 100644
--- a/public_key.py
+++ b/public_key.py
@@ -2955,6 +2955,9 @@ def decode_ssh_public_key(data: bytes) -> SSHKey:
         alg = packet.get_string()
         handler = _public_key_alg_map.get(alg)
 
+        if not handler and alg.startswith(b'rsa-sha2'):
+            handler = _public_key_alg_map.get(b'ssh-rsa')
+
         if handler:
             key_params = handler.decode_ssh_public(packet)
             packet.check_end()
```

Though I believe this is not how it should be fixed :)

These are the debug logs from the ssh server on a device:

```
[HIDDEN]:Jan 27 12:07:46.528 CET: SSHD_[68302]: Negotiated Alg : ecdh-sha2-nistp521
[HIDDEN]:Jan 27 12:07:46.528 CET: SSHD_[68302]: Publickey Alg = rsa-sha2-256
```

So looks like the device advertises pubkey algo as `rsa-sha2-256`, not `ssh-rsa`.

Or should I basically do something like:

```
asyncssh.public_key.register_public_key_alg(b"rsa-sha2-256", asyncssh.rsa._RSAKey)
```

?

Are you able to share which SSH server is sending this? I think it is a mistake. [RFC 8332](https://datatracker.ietf.org/doc/html/rfc8332) defines the use of SHA-2 hash algorithms for SSH, and sections 2 and 3 of that  make a distinction between "public key format" and "public key algorithm". The key format is not changing here and should still be 'ssh-rsa', and that's why you only see that in the algorithm map. Only the algorithm listed in the signature is supposed to change:

```
   Since RSA keys are not dependent on the choice of hash function, the
   new public key algorithms reuse the "ssh-rsa" public key format as
   defined in [RFC4253]:

   string    "ssh-rsa"
   mpint     e
   mpint     n

   All aspects of the "ssh-rsa" format are kept, including the encoded
   string "ssh-rsa".  This allows existing RSA keys to be used with the
   new public key algorithms, without requiring re-encoding or affecting
   already trusted key fingerprints.

   Signing and verifying using these algorithms is performed according
   to the RSASSA-PKCS1-v1_5 scheme in [RFC8017] using SHA-2 [SHS] as
   hash.

   For the algorithm "rsa-sha2-256", the hash used is SHA-256.
   For the algorithm "rsa-sha2-512", the hash used is SHA-512.

   The resulting signature is encoded as follows:

   string   "rsa-sha2-256" / "rsa-sha2-512"
   string    rsa_signature_blob
```

Note that this is different than how some other key formats work (such as ECDSA), but every SSH server I have run across so far in my interoperability testing works this way for RSA keys.

I might be able to make an exception and allow this, but I wouldn't want to register this as a new key format and potentially have it advertised in supported host key algorithms as that might break interoperability with other implementations. I'd need to try and get hold of this server if possible, to better understand what it's doing and find the right way to allow this without changing what AsyncSSH sends to servers out there which are properly adhering to the standard.

Thanks for the reply!

This is a Cisco IOS XR device.

One thing, though, I am able to successfully connect with `ssh`, even if I exclude `ssh-rsa`.

If I do this:
```
ssh -oHostKeyAlgorithms=-ssh-rsa -v DEVICE@HOST
```

I can see:
```
debug1: kex: algorithm: ecdh-sha2-nistp256
debug1: kex: host key algorithm: rsa-sha2-512
```

If I do this:
```
ssh -oHostKeyAlgorithms=-rsa-sha2-256,rsa-sha2-512 -v DEVICE@HOST
```

I can see this:
```
debug1: kex: algorithm: ecdh-sha2-nistp256
debug1: kex: host key algorithm: ssh-rsa
```

Is the `ssh` more permissible when it comes to the pubkey algo format name?

It looks to me like specifying HostKeyAlgorithms in OpenSSH is actually specifying a set of signature algorithms that are allowed there, not host key types. So, disabling "ssh-rsa" there just disables RSA with SHA1, but still leaves open the possibility of using the two SHA2 algorithms (rsa-sha2-256 and rsa-sha2-512) with a host key of type "ssh-rsa". The reverse would be true as well -- you could disable the SHA2 signature algorithms but still allow SHA1 there. To fully disable the use of host keys with type "ssh-rsa", I think you'd need to disable all three signature algorithms. In cases where any of these three signature algorithms is allowed, though, I'd still expect the binary host key data sent during the SSH handshake to be listed as key format "ssh-rsa", with only the signature algorithm showing one of the SHA2 values, as described in the RFC above.

Note that the "kex: algorithm" line in the output is reporting a key exchange algorithm and that's independent of the host key format or host key algorithm. That would be controlled in OpenSSH using "KexAlgorithms".

I'm not sure offhand if OpenSSH is more permissive about the host key format being allowed to be "rsa-sha2-256" or "rsa-sha2-512" in the binary data of the host key sent in the handshake. I'm also not even sure how to produce such a key. I'd probably have to construct a custom SSH server to generate such a response during the handshake to see if OpenSSH allows it or not. Outside of your report here, I've never run across such a key.

Would you be willing to turn up the AsyncSSH debug level to 3 so I can see the raw packet dumps? In particular, I'm interested in looking at the MSG_KEX_ECDH_REPLY message to confirm the format of the key. This exposes only the public key of the host and not any private key information (and is already sent in the clear by SSH), but if you'd feel more comfortable sending that privately we can arrange that. Either way, I'd recommend sending ONLY that one message's hex contents, to avoid sending anything other details which aren't needed.

I'd also be curious what your known_hosts entry looks like on the client for this host, to see if it is also in this unusual format.

Will be just part of the response sufficient?

```
DEBUG:asyncssh:[conn=0, pktid=1] Received MSG_KEX_ECDH_REPLY (31), 706 bytes
  00000000: 1f 00 00 01 1c 00 00 00 0c 72 73 61 2d 73 68 61  .........rsa-sha
  00000010: 32 2d 32 35 36 00 00 00 03 01 00 01 00 00 01 01  2-256...........
```

In knownd_hosts for this host I have `ssh-rsa`.

This confirms that the algorithm name at the beginning of the public-key blob does violate the RFC mentioned above, but 
I was hoping to look deeper into the base64-decoded version of the key blob in known_hosts -- not just the "ssh-rsa" in plaintext, but the algorithm present in the key data itself, as well as to see if the public key data sent on the wire matched what was in the known_hosts entry. Presumably, the known_hosts entry would have been added at some point by OpenSSH, so that would indicate that OpenSSH is being more lenient in what it accepts.

Since I've never seen this before on other Cisco IOS XR devices, I'm wondering if perhaps the current key pair installed on it might have been imported from an external source that perhaps had a bug when it generated the public key blob, and the device is just sending that as opaque data. If so, perhaps this could be fixed by either generating a new key on the device itself or by importing a new key pair generated by something like OpenSSH (or AsyncSSH), if the Cisco device lets you import both the private & public key blobs. Technically, it should only need the private key to be imported and it could generate the public key itself, but clearly here it has decided on the SHA-2 signature algorithm in the public key blob, even though there's no way to encode that information in an ssh-rsa private key blob (at least not in DER/PEM format). So, that's got to be coming from somewhere other than the private key.

An alternate possibility is that the bug is in the particular version of the Cisco IOS XR firmware running on your target and it's generating this public key blob incorrectly itself. You could try to confirm that by importing a new PEM version of an RSA private key generated externally (which would never have the SHA-2 style algorithm name in it) and see if you still see the problem.

One other thought: Since the device seems to be presenting a key format of rsa-sha2-256 in the ECDH_REPLY, does this change to rsa-sha2-512 if you set the client to only accept rsa-sha2-512 and not rsa-sha2-256 as a host key algorithm? If it does change, are there any other differences in the key blob after the algorithm name? In particular, is the public key itself the same in both cases (other than the algorithm)?

Closing due to inactivity. Feel free to re-open or create a new issue if you have any additional information you can share or other questions.